@import '../assets/light-dark-mode.css';

html{
    display: flex;
    flex-direction: column;
    height: 100%;
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
}

.comingSoon{
    margin: 142px;
    text-align: center;
}

.sctchDisp{
    font-family: scotch-display, sans-serif;
    font-style: normal;
    font-weight: 600;
    margin: 0px;
}

.sctchDmedIt{
    font-family: scotch-display, sans-serif;
    font-style: italic;
    font-weight: 500;
}


#logoFtSize{
    font-size: 100px;
}

.poppinsLite{
    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
}

#announcement{
    font-size: 46px;
    margin: 0px;
}

#invitation{
    font-size: 25px;
}

.poppinsReg{
    font-family: poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* To fix the size of the input element */
input.poppinsReg.form-control{
    display: inline-block;
    width: 555px;
}

p#invitation.poppinsLite{
    margin-bottom: 0;
}